extends layout

block content
  article.slds-card
    .slds-card__header.slds-grid
      header.slds-media.slds-media_center.slds-has-flexi-truncate
        .slds-media__figure
          span.slds-icon_container.slds-icon-standard-contact(title="contact")
            svg.slds-icon.slds-icon_small(aria-hidden="true")
              use(xlink:href="/icons/standard-sprite/svg/symbols.svg#contact")
            span.slds-assistive-text contact
        .slds-media__body
          h2.slds-card__header-title
            a.slds-card__header-link.slds-truncate(href="javascript:void(0);" title="Card Header")
              span= title
    .slds-card__body.slds-card__body_inner
      form.js-settings-form
        .slds-form-element
          label.slds-form-element__label.slds-p-top_medium(for='Text')
            abbr.slds-required(title='required')
            | Suggestion/Insight *
          .slds-form-element__control
            input#Text.slds-input.js-activity-setting(required='', placeholder='', name='suggestionInsight')

          label.slds-form-element__label(for="DropdownOptions") DSE Config
          .slds-form-element__control
            .slds-select_container
              select#DropdownOptions.slds-select.js-activity-setting(name='dseConfig')
                each dropdownOption in dseConfig
                  option(value=dropdownOption.value)= dropdownOption.name
        
          label.slds-form-element__label(for="DropdownOptions") Product
          .slds-form-element__control
            .slds-select_container
              select#DropdownOptions.slds-select.js-activity-setting(name='products')
                each dropdownOption in products
                  option(value=dropdownOption.value)= dropdownOption.name
                  
          label.slds-form-element__label(for="DropdownOptions") REP Action Type
          .slds-form-element__control
            .slds-select_container
              select#DropdownOptions.slds-select.js-activity-setting(name='repActionType')
                each dropdownOption in repActionType
                  option(value=dropdownOption.value)= dropdownOption.name        
          
          label.slds-form-element__label.slds-p-top_medium(for='Text')
            abbr.slds-required(title='required')
            | Suggestion/Insight Expire After (Days)*
          .slds-form-element__control
            input#Text.slds-input.js-activity-setting(required='', placeholder='', name='expireDays')
          
          label.slds-form-element__label.slds-p-top_medium(for='Text')
            abbr.slds-required(title='required')
            | Suggestion/Insight Deatils *
          .slds-form-element__control
            input#Text.slds-input.js-activity-setting(required='', placeholder='', name='suggestionDeatils')

    footer.slds-card__footer
